SWAGGER_UI_PORT=8091
KAFKA_PORT=9092
SCHEMA_REGISTRY_PORT=8081
SPRING_KAFKA_BOOTSTRAP_SERVERS="localhost:${KAFKA_PORT}"
SCHEMA_REGISTRY_URL="http://localhost:${SCHEMA_REGISTRY_PORT}"
LOGGING_FILE_NAME=target/log.json
